img#alekpic {
  border-radius: 10%;
}

#home {
	background-color: #4bb49b;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
}

#mathCarousel .carousel-inner {
	height: 90vh;
	margin-left: auto;
	margin-right: auto;
}

.carouselImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%;
}

.delineate {
	height: 50px;
	background-image: url(../data/dog1.png);
	background-repeat: repeat-x;
	background-position: center;
	background-color: transparent;
	border: none;
	width: 90%;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

header {
  padding: 70px 0 70px;
}

section {
  padding: 50px 0;
}

footer div {
	padding-top: 2%;
	padding-bottom: 2%;
}

div#quote-box {
	height: 10vh;
	overflow: scroll;
}

#quote-box-container {
	padding-bottom: 2%;
}

.invertedColors {
	background-color: #808080;
	color: #FFFFFF;
}

#mainNav {
	opacity: 0.7; 
	top: 0;
	position: fixed;
	width: 100vw; 
}

.infoCard {
	display: in-line;
	padding-top: 4%;
	padding-bottom: 4%;
	width: 100%;
	overflow: scroll;
}
.infoCard img {
	width: 35%;
	float: left;
}
.infoCard .infoCardInfo {
	width: 60%;
	float: right;
}

