/* Different styles for all sites */

.container {
  padding: 2%;
}

img#alekpic {
  border-radius: 30%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.active, li:hover{
  background-color: #c6cad1;
  color: white;
}
