body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
    font-size: 20px; /* Increase font size */
}
main {
    padding: 20px;
}
section {
    margin-bottom: 30px;
}
h1, h2 {
    color: #4bb49b; /* Fixed double # */
    font-size: 30px; /* Increase font size */
}

a {
    text-decoration: none; /* Remove underline */
    color: #007777; /* Default text color */
    font-weight: bold; /* Make links bold */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}
a:hover {
    background-color: #00ffff; /* Change background color on hover */
    color: black; /* Change text color on hover */
}
img {
  width: 500px;
  margin-right: 30px;
  margin-bottom: 30px;
}

#alek {
    width: 300px;
}
